body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.system-summary {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  margin-bottom: 10px;
}

.ag-theme-quartz-dark {
  flex-grow: 1;
}
